{% extends 'base.html' %}
{% load crispy_forms_tags %}
{% block title %} Create an account {% endblock %}
{% block body %}
{% if registered %}
<div class="alert alert-success">
  Account created successfully <a href="{% url 'Login_API:login_page' %}">Login here</a>
</div>
{% else %}
<h3>Create new account</h3>
<form method="POST">
  {{ form|crispy }}
  {% csrf_token %}
  <button type="submit" class="btn btn-success btn-sm">Create</button>
</form>
<br>
<a href="{% url 'Login_API:login_page' %}">Login</a>
{% endif %}
{% endblock %}
